<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">О нас</div>
  </ons-toolbar>
    
    <section style="padding:10px;">
    ТАС — лидер в области качества и дизайна на рынке домашнего текстиля РФ.<br> Коллекции TAC следуют всем новым трендам в мире моды и дизайна, а разнообразный ассортимент продукции удовлетворит все желания и потребности каждого покупателя.
    </section>

    <ons-row>
    <ons-col align="center">
    <ons-button modifier="light" ng-click="menu.toggleMenu()">
    Меню
    </ons-button>
    </ons-col>
    </ons-row>

</ons-page>
