<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.sensation.feed" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Европейский текстиль - tac-shop</name>

    <description>
    Мобильное приложение интернет - магазина Европейский текстиль - tac-shop
    </description>
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    
    <content src="index.html" />
    <access origin="*" />
</widget>
